{
	"root": true,
	"parser": "babel-eslint",
	"extends": [
		"airbnb-base"
	],
	"env": {
		"browser": true,
		"es6": true
	},
	"plugins": [],
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module"
	},
	"rules": {
		"arrow-body-style": [
			"error",
			"as-needed"
		],
		"comma-dangle": 0,
		"class-methods-use-this": 0,
		"global-require": 0,
		"import/named": 2,
		"import/no-dynamic-require": 0,
		"import/no-named-as-default": 0,
		"import/no-unresolved": 2,
		"import/prefer-default-export": 0,
		"max-len": [
			"error",
			{
				"code": 80,
				"ignoreUrls": true,
				"ignoreComments": true,
				"ignoreStrings": true,
				"ignoreTemplateLiterals": true
			}
		],
		"new-cap": [
			2,
			{
				"capIsNew": false,
				"newIsCap": true
			}
		],
		"no-param-reassign": 0,
		"no-shadow": 0,
		"no-plusplus": 0,
		"no-bitwise": 0,
		"no-tabs": 0, 
		"no-underscore-dangle": 0
	},
	"settings": {
		"import/resolver": {
			"babel-module": {}
		}
	}
}